<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">

    <title>Angular.js Tutorial - AMDB</title>

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>

    <link rel="stylesheet" href="css/style.css">

  </head>

<body>

  <div ng-app="AMDB">

    <div class="container-fluid" ng-controller="MovieCtrl">
      <h2>
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/angular-logo.svg" alt="Angular.js Logo"> AMDB - Angular Movie DataBase</h2>

       <form class="form-inline" ng-submit="addMovie()">
        <div class="form-group"><label>Title  <input type="text" ng-model="newMovie.title" class="form-control"/></label></div>
        <div class="form-group"><label>Rating  <input type="text" ng-model="newMovie.rating" class="form-control" /></label></div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add Movie</button>
        </div>
      </form>

      <div class="row">
        <div class="col-md-5 spacer">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for a movie" ng-model="query">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          </div>
        </div>
      </div>

      <div class="row spacer">
        <table class="table table-striped table-bordered">
          <thead>
            <th><a ng-click="predicate = 'title'; reverse = !reverse;">Title</a></th>
            <th><a ng-click="predicate = 'rating'; reverse = !reverse;">Rating</a></th>
          </thead>
          <tbody>
            <tr ng-repeat="movie in movies | filter: { title: query } | orderBy: predicate: reverse">
              <td><favourite item="movie" toggle="toggleStar(movie)"></favourite>
                <!--<span ng-hide="movie.favourite" ng-click="toggleStar(movie)" class="glyphicon glyphicon-star-empty"></span><span ng-show="movie.favourite" ng-click="toggleStar(movie)" class="glyphicon glyphicon-star"></span>--> {{movie.title}}</td>
                <td>{{movie.rating}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js'></script>

    <script src="js/index.js"></script>

  </body>

</html>